<section class="border-2 border-t-black">
    <div class="lg:mx-10 md:mx-8 sm:pt-4 py-4">
        <div class="text-center flex flex-col md:flex-row md:text-left md:mb-0 justify-between">
            <div class="flex flex-col md:flex-row">
                <p class="text-purple-700 font-bold uppercase pr-2 md:border-r-2 border-r-gray-400">oscar styles</p>
                <div class="copyright ps-2">
                    &copy; Copyright <strong><span>2024</span></strong>. All Rights Reserved
                </div>
            </div>

            <div class="credits font-semibold"> Designed by <span class="text-purple-700 capitalize">Oscardo
                    enterprise</span></div>
        </div>
    </div>
</section>