<footer id="footer" class="bg-gray-200">
    <div class="footer-top">
        <div class="">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-8">
                <div class="footer-contact lg:col-start-2 lg:col-span-2 md:ms-10 mx-5">
                    <p class="font-bold text-purple-700 text-2xl uppercase">Oscar styles</p>
                    <p>
                        Akwa I, Rue Paul<br>
                        Littoral, Douala<br>
                        Cameroon <br><br>
                        <strong>Phone:</strong> +237 669 46 55 15<br>
                        <strong>Email:</strong> info@example.com<br>
                    </p>
                </div>

                <div class="footer-links lg:col-span-2 md:ms-10 mx-5">
                    <p class="font-bold text-purple-700 text-xl ">Useful Links</p>
                    <ul class="capitalize mt-2">
                        <li><i class="bx bx-chevron-right"></i> <a (click)="onClickScrollToSection('home')">home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a (click)="onClickScrollToSection('services')">services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a (click)="onClickScrollToSection('about')">about</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a (click)="onClickScrollToSection('testimonials')">testimonials</a></li>
                    </ul>
                </div>

                <div class="footer-newsletter lg:col-span-2 lg:ms-0 md:ms-10 mx-5">
                    <p class="font-bold text-purple-700 text-xl">Join Our Newsletter</p>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action="" method="post" class="flex">
                        <input type="email" name="email" class="p-2 border border-gray-300 rounded-l-md"
                            placeholder="Your Email">
                        <input type="submit" class="bg-blue-600 text-black px-4 py-2 rounded-r-md" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <section class="">
        <div class="lg:mx-10 md:mx-8 sm:pt-4 py-4">
            <div class="text-center flex flex-col md:flex-row md:text-left md:mb-0 justify-between">
                <div class="flex flex-col md:flex-row">
                    <p class="text-purple-700 font-bold uppercase pr-2 md:border-r-2 border-r-gray-400">oscar styles</p>
                    <div class="copyright ps-2">
                        &copy; Copyright <strong><span>2024</span></strong>. All Rights Reserved
                    </div>
                </div>
    
                <div class="credits font-semibold"> Designed by <span class="text-purple-700 capitalize">Oscardo
                        enterprise</span></div>
            </div>
        </div>
    </section>
</footer>