<app-header [title]="title" [subtitle]="subtitle"></app-header>

<section class="mt-5">
  <div
    class="text-center font-bold capitalize text-4xl heading mb-10"
  >
    <span class="title">What </span>we are about
  </div>
  <div class="xl:grid grid-cols-2 gap-16 lg:px-20 md:px-10 px-5">
    <div class="lg:py-0 py-10">
      <img src="../assets/pexels-andrea-piacquadio-994234.jpg" alt="" />
    </div>
    <div class="text-lg xl:mt-0 lg:mt-10 ">
      <p>
        <span class="font-bold text-2xl">Oscar Styles</span> is a revolutionary
        online platform that connects users with a network of expert fashion
        stylists. Our mission is to provide personalized styling advice and
        guidance to help individuals develop their unique sense of style and
        confidence. By registering on our platform, users can access a community
        of experienced stylists who offer one-on-one consultations, personalized
        advice, and curated product recommendations.
      </p>
      <p>
        Our platform features a curated roster of talented fashion stylists,
        each with their own unique aesthetic and expertise. Whether you're
        looking for a complete wardrobe overhaul, advice on a specific occasion,
        or simply seeking inspiration for your everyday style, our stylists are
        here to provide personalized guidance and support.
      </p>
    </div>
  </div>

  <div class="mt-10">
    <div
      class="text-center font-bold capitalize text-4xl heading lg:mb-10"
    >
      <span class="title">Getting </span>started With Us
    </div>
    <div class="lg:px-20 md:px-10 px-5 lg:py-0 py-10 flex justify-center">
        <img src="../assets/getting started.png" alt="" />
      </div>
    <!-- <div class="xl:grid grid-cols-2 gap-16 lg:px-20 md:px-10 px-5">
      
      <div class="text-lg my-10">
        <p>
          It's easy to get started! Simply register on our platform, browse our
          stylist directory, and select the stylist who best fits your style and
          needs. From there, you'll be able to schedule a consultation, share
          your fashion goals and preferences, and receive personalized advice
          and recommendations from your chosen stylist. Our platform is designed
          to be user-friendly, convenient, and accessible, so you can get the
          styling advice you need from the comfort of your own home.
        </p>
      </div>
    </div> -->
  </div>

  <div
    class="text-center font-bold capitalize text-4xl heading lg:my-10 md:mb-0 mb-10"
  >
    <span class="title">Our </span>amazing team
  </div>
  <div
    class="team font-bold grid lg:grid-cols-3 md:grid-cols-3 lg:gap-16 gap-5 text-center text-2xl lg:px-20 md:px-10 px-5 lg:mt-0 mt-10"
  >
    <div class="">
      <img src="../assets/pexels-davidgomes-2473581.jpg" alt="" />
      <p>Oscardo Banks</p>
      <p class="title">Project Manager</p>
    </div>
    <div>
      <img src="../assets/pexels-italo-melo-2379004.jpg" alt="" />
      <p>Fitz Gerald</p>
      <p class="title">UI/UX Designer</p>
    </div>
    <div>
      <img src="../assets/pexels-frank-chamba-11686097.jpg" alt="" />
      <p>Jemma Simmons</p>
      <p class="title">Developer</p>
    </div>
  </div>

  <div class="flex justify-center">
    <p
      class="text-3xl lg:w-2/4 w-3/4 text-center text-purple-700 font-bold uppercase lg:pt-16 pt-10"
    >
      get all latest posts delivered right to your inbox
    </p>
  </div>

  <div class="flex justify-center my-10">
    <input
      type="email"
      name="email"
      placeholder="Email Address"
      class="lg:w-1/4 border border-gray-300 p-2 focus:outline-none focus:ring-1 focus:ring-purple-600"
    />
    <button
      class="border border-purple-600 text-purple-700 p-2 mx-2 active:bg-purple-600 active:text-white"
    >
      Join Today
    </button>
  </div>
</section>

<app-footer></app-footer>
