<nav id="nav-lg" class="text-center">
  <a [routerLink]="['/home']" class="text-7xl uppercase logo">
    <p class="p-5 pt-8">Oscar Styles</p>
  </a>
  <div class="uppercase flex justify-center gap-x-12 font-semibold">
    <a [routerLink]="['/home']" class="hover:text-purple-600">home</a>
    <a [routerLink]="['/about']" class="hover:text-purple-600">about</a>
    <a [routerLink]="['/blogs']" class="hover:text-purple-600">Blog</a>
    <a [routerLink]="['/contact']" class="hover:text-purple-600">contact us</a>
    <a>
      <button
        id="dropdownhoverLink"
        (click)="toggleDropdown()"
        data-dropdown-toggle="dropdownHover"
        data-dropdown-trigger="hover"
        class="flex items-center justify-between uppercase w-full py-2 px-3 rounded hover:text-purple-600 md:border-0 md:p-0 md:w-auto md:dark:hover:bg-transparent"
      >
        profile
        <svg
          class="w-2.5 h-2.5 ms-2.5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 4 4 4-4"
          />
        </svg>
      </button>
      <!-- Dropdown menu -->
      <div
        id="dropdownHover"
        [class.hidden]="!isDropdownOpen"
        class="z-50 hidden font-normal bg-white divide-y divide-purple-600 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
      >
        <ul
          class="py-2 text-sm text-gray-700 dark:text-gray-400"
          aria-labelledby="dropdownHoverButton"
        >
          <li>
            <a
              [routerLink]="['/chat']"
              class="block px-4 py-2 hover:bg-purple-600 hover:text-white dark:hover:bg-gray-600 dark:hover:text-white"
              >chats</a
            >
          </li>
          <li>
            <a
              (click)="myAccount()"
              class="block px-4 py-2 hover:bg-purple-600 hover:text-white dark:hover:bg-gray-600 dark:hover:text-white"
              >my account</a
            >
          </li>
        </ul>
        <div class="py-1">
          <a
            (click)="logout()"
            class="block px-4 py-2 text-sm text-gray-700 hover:bg-purple-600 hover:text-white dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
            >Sign out</a
          >
        </div>
      </div>
    </a>
  </div>
</nav>
<header id="header" class="bg-white">
  <nav
    class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600"
  >
    <div
      class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
    >
      <a routerLink="/home">
        <span
          class="logo text-3xl uppercase self-center font-semibold whitespace-nowrap dark:text-white text-purple-700"
          >Oscar Styles</span
        >
      </a>
      <div
        class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse"
      >
        <button
          type="button"
          (click)="toggleDropdown()"
          class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
          id="user-menu-button"
          aria-expanded="false"
          data-dropdown-toggle="user-dropdown"
          data-dropdown-placement="bottom"
        >
          <span class="sr-only">Open user menu</span>
          <img
            class="w-8 h-8 rounded-full"
            src="https://w7.pngwing.com/pngs/340/946/png-transparent-avatar-user-computer-icons-software-developer-avatar-child-face-heroes-thumbnail.png"
            alt="user photo"
          />
        </button>
        <!-- Dropdown menu -->
        <div
          class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-purple-600 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
          id="user-dropdown"
          [class.hidden]="!isDropdownOpen"
        >
          <div class="px-4 py-3">
            <span class="block text-sm text-gray-900 dark:text-white"
              >{{newAuthor.data.fullName}}</span
            >
            <span
              class="block text-sm text-gray-500 truncate dark:text-gray-400"
              >{{newAuthor.data.email}}</span
            >
          </div>
          <ul class="py-2" aria-labelledby="user-menu-button">
            <li>
              <a
                href="#"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-purple-600 hover:text-white dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >Chats</a
              >
            </li>
            <li>
              <a
                (click)="myAccount()"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-purple-600 hover:text-white dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >My Account</a
              >
            </li>
            <li>
              <a
                (click)="logout()"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-purple-600 hover:text-white dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                >Sign out</a
              >
            </li>
          </ul>
        </div>
        <button
          data-collapse-toggle="navbar-sticky"
          type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-purple-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-sticky"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"
            />
          </svg>
        </button>
      </div>
      <div
        class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
        id="navbar-sticky"
      >
        <ul
          class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-purple-600 rounded-lg bg-purple-100 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
        >
          <li>
            <a
              [routerLink]="['/home']"
              class="block py-2 px-3 text-gray-900 hover:bg-purple-600 hover:text-white md:hover:bg-transparent rounded md:bg-transparent md:hover:text-purple-600 md:p-0 md:dark:hover:text-purple-600"
              aria-current="page"
              >Home</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/about']"
              class="block py-2 px-3 text-gray-900 rounded hover:bg-purple-600 hover:text-white md:hover:bg-transparent md:hover:text-purple-600 md:p-0 md:dark:hover:text-purple-600 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
              >About</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/blogs']"
              class="block py-2 px-3 text-gray-900 rounded hover:bg-purple-600 hover:text-white md:hover:bg-transparent md:hover:text-purple-600 md:p-0 md:dark:hover:text-purple-600 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
              >Blog</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/contact']"
              class="block py-2 px-3 text-gray-900 rounded hover:bg-purple-600 hover:text-white md:hover:bg-transparent md:hover:text-purple-600 md:p-0 md:dark:hover:text-purple-600 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
