<section class="my-8" id="about">
    <p class="text-center font-bold title uppercase text-sm">about us</p>
    <div class="text-center capitalize text-4xl heading mb-5"><span class="title">discover </span>your signature style</div>
    <div class="lg:grid grid-cols-2 gap-10 lg:px-24 px-5">
        <img src="../assets/pexels-ron-lach-8423965.jpg" alt="" class="">
        <div class="lg:my-0 my-5">
            <p class="text-center text-4xl pt-5 capitalize title">styling & profiling</p>
            <p>
                Welcome to <span class="font-bold">Oscar Styles,</span> where style meets individuality and fashion becomes a form of self-expression. It serves as a digital platform to showcase the stylist's services, expertise, and unique style perspective and also a crucial element in conveying the stylist's brand image and resonating with the target audience.
            </p>
            <p>
                Our passion for empowering individuals to embrace their unique style journey drives everything we do. With a commitment to inclusivity and creativity, we strive to inspire confidence and sophistication in every aspect of your wardrobe. Stylists can tailor thier services offered, such as personal styling consultations, wardrobe assessments, and special event styling. which helps to better get access to the right stylist to your needs. 
            </p>
            <p>
                At <span class="font-bold">Oscar Styles,</span> we believe that fashion is more than just clothing - it's an art form that allows you to showcase your personality and creativity.
            </p>
        </div>
    </div>
</section>