.inbox:focus {
    border-color: rgb(126 58 242);
    box-shadow: 0 0 0 2px transparent;
}

button.active {
    background-color: #881BDE;
    color: white;
}

button[disabled] {
    opacity: 0.3;
    cursor: not-allowed;
}

.blogImage{
    height: 300px;
    width: 100%;
}