<nav
  class="w-full flex justify-around xl:gap-96 lg:gap-60 sm:gap-60 gap-10 items-center bg-white shadow-lg"
>
  <a [routerLink]="['/landing']" class="sm:text-4xl text-xl uppercase">
    <p class="logo text-purple-700">Oscar Styles</p>
  </a>
  <div class="flex sm:gap-10 gap-5">
    <a [routerLink]="['/landing']" class="text-xl cursor-pointer font-bold m-3 hover:text-purple-700">Home</a>
    <a href="signin" class="text-xl cursor-pointer font-bold m-3 hover:text-purple-700">Signin</a>
  </div>
</nav>

<section class="main-body items-center">
  <div
    #container
    class="container relative bg-white overflow-hidden rounded-xl"
    [ngClass]="{ 'sign-up-mode': signUpMode, 'sign-up-mode2': signUpMode2 }"
  >
    <div
      class="signin-signup absolute flex items-center justify-around top-0 left-0 w-full h-full md:bg-none bg-purple-200"
    >
      <!-- Sign-in Form -->
      <form
        *ngIf="!showResetPasswordForm"
        [formGroup]="loginForm"
        class="sign-in-form flex items-center justify-center flex-col w-3/5 gap-5 px-3"
      >
        <p class="headers text-6xl font-semibold text-pinkish-300">Sign in</p>

        <!-- Login Form -->
        <div class="w-full my-2 rounded-full flex flex-col">
          <input
            type="text"
            placeholder="Email"
            formControlName="email"
            class="input-field bg-transparent border-none outline-none w-full text-xl px-3 text-brown-100"
          />
          <span
            *ngIf="
              loginForm.hasError('required', 'email') &&
              loginForm.controls['email'].dirty
            "
            class="text-red-500 text-sm"
            >*Email is required
          </span>
          <span
            *ngIf="loginForm.hasError('email', 'email')"
            class="text-red-500 text-sm"
            >*Email is invalid
          </span>
        </div>
        <div class="w-full my-2 rounded-full flex flex-col">
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
            class="input-field bg-transparent border-none outline-none w-full text-xl px-3 text-brown-100"
          />
          <span
            *ngIf="
              loginForm.hasError('required', 'password') &&
              loginForm.controls['password'].dirty
            "
            class="text-red-500 text-sm"
            >*Password is required
          </span>
        </div>

        <!-- Signin Button -->
        <input
          type="submit"
          value="Sign in"
          [disabled]="loginForm.invalid"
          [class.disabled]="loginForm.invalid"
          (click)="login()"
          class="btn border-none uppercase w-36 h-12 rounded-full cursor-pointer"
        />

        <p class="text-base font-semibold text-center">
          Or Sign in with Google
        </p>
        <div class="flex justify-center">
          <a href="">
            <img src="../assets/google.svg" alt="" />
          </a>
        </div>
        <p class="hover:text-purple-600 text-lg">
          <a
            href=""
            (click)="toggleResetPasswordForm(true, $event)"
            id="sign-up-btn"
            >Forgot Password?</a
          >
        </p>
      </form>
      <p
        class="account-text text-center"
        [style.display]="!showResetPasswordForm ? 'block' : 'none'"
        id="signup-btn"
      >
        Don't have an account? <a id="sign-up-btn2">Sign up</a>
      </p>

      <!-- Signup Form -->
      <form
        [ngClass]="{ hideSignUp: hideSignUp }"
        [formGroup]="registerForm"
        class="sign-up-form flex items-center flex-col w-3/5 gap-3 px-3"
      >
        <p class="headers text-6xl font-semibold text-pinkish-300">Sign up</p>

        <!-- Registration Radio buttons -->
        <div class="flex gap-14">
          <div class="flex items-center gap-3">
            <input
              id="user-button"
              type="radio"
              value="user"
              name="user-stylist-button"
              [(ngModel)]="selectedOption"
              (click)="toggleOption('user')"
              [checked]="selectedOption === 'user'"
              class="checked:text-pinkish-300 bg-gray-100 border-gray-300 focus:ring-pinkish-300 dark:focus:ring-pinkish-300 cursor-pointer"
            />
            <label
              for="user-button"
              class="font-semibold text-black dark:text-gray-300"
              >User</label
            >
          </div>
          <div class="flex items-center gap-3">
            <input
              id="stylist-button"
              type="radio"
              value="stylist"
              name="user-stylist-button"
              [(ngModel)]="selectedOption"
              (click)="toggleOption('stylist')"
              [checked]="selectedOption === 'stylist'"
              class="checked:text-pinkish-300 bg-gray-100 border-gray-300 focus:ring-pinkish-300 dark:focus:ring-pinkish-300 cursor-pointer"
            />
            <label
              for="stylist-button"
              class="font-semibold text-black dark:text-gray-300"
              >Stylist</label
            >
          </div>
        </div>

        <!-- Registration Form -->
        <div class="w-full mt-3 mb-2 rounded-full flex flex-col">
          <input
            type="text"
            placeholder="Username"
            formControlName="username"
            class="input-field bg-transparent border-none outline-none w-full text-xl px-3 text-brown-100"
          />
          <span
            *ngIf="
              registerForm.hasError('required', 'username') &&
              registerForm.controls['username'].dirty
            "
            class="text-red-500 text-sm"
            >*Username is required
          </span>
        </div>
        <div class="w-full my-2 rounded-full flex flex-col">
          <input
            type="text"
            placeholder="Email"
            formControlName="email"
            class="input-field bg-transparent border-none outline-none w-full text-xl px-3 text-brown-100"
          />
          <span
            *ngIf="
              registerForm.hasError('required', 'email') &&
              registerForm.controls['email'].dirty
            "
            class="text-red-500 text-sm"
            >*Email is required
          </span>
          <span
            *ngIf="registerForm.hasError('email', 'email')"
            class="text-red-500 text-sm"
            >*Email is invalid
          </span>
        </div>
        <div class="w-full my-2 rounded-full flex flex-col">
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
            class="input-field bg-transparent border-none outline-none w-full text-xl px-3 text-brown-100"
          />
          <span
            *ngIf="
              registerForm.hasError('required', 'password') &&
              registerForm.controls['password'].dirty
            "
            class="text-red-500 text-sm"
            >*Password is required
          </span>
        </div>

        <div
          *ngIf="selectedOption === 'user'"
          class="font-semibold grid xl:grid-cols-7 grid-cols-1 gap-4"
        >
          <div class="flex flex-col col-span-4">
            <div class="flex gap-2">
              <label for="body-weight" class="text-lg">Body Weight:</label>
              <div class="relative w-2/5">
                <input
                  formControlName="bodyweight"
                  id="body-weight"
                  type="number"
                  name="bodyWeight"
                  class="no-spinner w-full rounded-md"
                  min="0"
                  required
                />
                <span class="absolute end-2 text-black text-lg">kg</span>
              </div>
            </div>
            <span
              *ngIf="
                registerForm.hasError('required', 'bodyweight') &&
                registerForm.controls['bodyweight'].dirty
              "
              class="text-red-500 text-sm"
              >*BodyWeight is required
            </span>
          </div>
          <div class="flex flex-col col-span-3">
            <div class="flex gap-2">
              <label for="height" class="text-lg">Height:</label>
              <div class="relative xl:w-full w-2/5">
                <input
                  formControlName="height"
                  id="height"
                  type="number"
                  name="height"
                  class="no-spinner w-full rounded-md"
                  min="0"
                  required
                />
                <span class="absolute end-2 text-black text-lg">cm</span>
              </div>
            </div>
            <span
              *ngIf="
                registerForm.hasError('required', 'height') &&
                registerForm.controls['height'].dirty
              "
              class="text-red-500 text-sm"
              >*Height is required
            </span>
          </div>
        </div>

        <!-- Signup Button -->
        <input
          type="submit"
          value="Sign up"
          [disabled]="registerForm.invalid"
          [class.disabled]="registerForm.invalid"
          (click)="register()"
          class="btn border-none uppercase w-36 h-12 rounded-full cursor-pointer"
        />

        <span class="text-base font-semibold"> Or Sign in with Google </span>
        <div class="flex justify-center">
          <a href="">
            <img src="../assets/google.svg" alt="" />
          </a>
        </div>
        <p class="account-text text-center">
          Already have an account?
          <a (click)="showResetPasswordForm = false" id="sign-in-btn2"
            >Sign in</a
          >
        </p>
      </form>

      <!-- Forget Password Form -->
      <form
        action=""
        *ngIf="showResetPasswordForm"
        class="sign-up-form flex items-center gap-3 justify-center text-center flex-col w-3/5 px-3"
      >
        <p class="headers text-5xl font-semibold text-pinkish-300 capitalize">
          reset password
        </p>
        <p class="mb-5 capitalize">
          Enter Your email and we'll send you instructions on how to reset your
          password
        </p>
        <div class="w-full my-2 rounded-full flex flex-col">
          <input
            type="text"
            placeholder="Email"
            formControlName="email"
            class="input-field bg-transparent border-none outline-none w-full text-xl px-3 text-brown-100"
          />
          <span
            *ngIf="
              registerForm.hasError('required', 'email') &&
              registerForm.controls['email'].dirty
            "
            class="text-red-500 text-sm"
            >*Email is required
          </span>
          <span
            *ngIf="registerForm.hasError('email', 'email')"
            class="text-red-500 text-sm"
            >*Email is invalid
          </span>
        </div>
        <input
          type="submit"
          value="Reset"
          (click)="resetPassword()"
          class="btn border-none uppercase w-36 h-12 rounded-full cursor-pointer"
        />
        <p class="account-text text-center">
          Already have an account?
          <a
            routerLink="/signin"
            (click)="toggleSignUpModes()"
            id="sign-in-btn2"
            >Sign in</a
          >
        </p>
      </form>
    </div>

    <!-- Signin & Signup Panel -->
    <div
      class="panels-container absolute top-0 left-0 w-full h-full flex items-center justify-around"
    >
      <div
        class="panel left-panel flex flex-col text-center justify-center min-w-60 p-10 pointer-events-none"
      >
        <div class="content">
          <h3>Are You A Member?</h3>
          <p class="capitalize">
            unlock a world of fashion possibilities, where your unique style
            takes center stage and your fashion dreams become a reality.
          </p>
          <button
            class="btn border-none uppercase w-36 h-12 rounded-full cursor-pointer"
            id="sign-in-btn"
            (click)="showResetPasswordForm = false; registerForm.reset()"
          >
            Sign in
          </button>
        </div>
        <img src="../assets/signin.svg" alt="" class="image" />
      </div>
      <div class="panel right-panel text-center">
        <div class="content">
          <h3>New to Brand?</h3>
          <p class="capitalize">
            are you ready to embark on a fashion adventure? Unlock your fashion
            potential and discover your signature style with us today.
          </p>
          <button
            class="btn border-none uppercase w-36 h-12 rounded-full cursor-pointer"
            id="sign-up-btn"
          >
            Sign up
          </button>
        </div>
        <img src="../assets/signup.svg" alt="" class="image" />
      </div>
    </div>
  </div>
</section>
