* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    padding: 15px 0px;
}

.logo{
    margin-bottom: 0;
}

.disabled{
    opacity: 0.3;
    cursor: not-allowed;
}

.main-body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: auto;
    background: #f1f1f1;
}

.container {
    position: relative;
    width: 80vw;
    height: 90vh;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #df4adf, #520852);
    z-index: 6;
    transform: translateX(100%);
    transition: 1s ease-in-out;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.headers{
    margin-bottom: 10px;
}

.signin-signup {
    z-index: 5;
    overflow: auto;
}

form.sign-in-form {
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}

form.sign-up-form {
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
    width: 40%;
    min-width: 238px;
    max-height: 100vh;
}

.title {
    font-size: 35px;
    color: #c955f7;
    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    height: 50px;
    background: #f0f0f0;
    padding: 0 10px;
    border: 2px solid #c955f7;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #444;
}

.input-field:focus, #body-weight:focus, #height:focus {
    border: 2px solid rgb(154, 43, 239);
    box-shadow: 0 0 0 2px transparent;
}

#body-weight, #height{
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 2px solid #c955f7;
}

.btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: #bb42eb;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
}

.btn:hover {
    background: #cf3be9;
}

a {
    text-decoration: none;
}

.panel {
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
    z-index: 6;
}

.left-panel {
    pointer-events: none;
}

.content {
    color: #fff;
    transition: 1.1s ease-in-out;
    transition-delay: 0.5s;
}

.panel h3 {
    font-size: 32px;
    font-weight: 600;
}

.panel p {
    font-size: 15px;
    padding: 10px 0;
}

.image {
    width: 100%;
    transition: 1.1s ease-in-out;
    transition-delay: 0.4s;
}

.left-panel .image,
.left-panel .content {
    transform: translateX(-200%);
}

.right-panel .image,
.right-panel .content {
    transform: translateX(0);
}

.account-text {
    display: none;
}

/*Animation*/

.container.sign-up-mode::before {
    transform: translateX(0);
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
    transform: translateX(200%);
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
    transform: translateX(0);
}

.container.sign-up-mode form.sign-in-form {
    opacity: 0;
}

.container.sign-up-mode form.sign-up-form {
    opacity: 1;
}

.container.sign-up-mode .right-panel {
    pointer-events: none;
}

.container.sign-up-mode .left-panel {
    pointer-events: all;
}


/*Responsive*/

@media (min-width: 900px) and (max-width: 1100px) {
    form.sign-up-form {
        padding-top: 40px;
        padding-bottom: 10px;
    }
}

@media (min-width: 768px) {
    .account-text {
      display: none !important;
    }
  }

@media (max-width:779px) {
    .container {
        width: 100vw;
        height: 100vh;
    }

    nav{
        padding: 15px 40px;
    }
}

@media (max-width:635px) {
    nav{
        padding: 15px 10px;
    }
    .container::before {
        display: none;
    }
    form.sign-in-form, form.sign-up-form {
        width: 80%;
    }
    form.sign-up-form {
        display: none;
        padding-top: 0;
    }
    .container.sign-up-mode2 form.sign-up-form {
        display: flex;
        opacity: 1;
    }
    .hideSignUp{
        display: none !important;
    }
    .container.sign-up-mode2 form.sign-in-form {
        display: none;
    }
    .panels-container {
        display: none;
    }
    .account-text {
        display: initial;
        margin-top: 30px;
    }
    .account-text a{
        color: #C955F7;
    }
    .signin-signup{
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width:320px) {
    form.sign-in-form, form.sign-up-form {
        width: 90%;
    }
}