<app-header [title]="title" [subtitle]="subtitle"></app-header>

<section>
  <div
    class="my-10 md:p-10 mx-auto lg:w-2/4 w-10/12 md:border-2 border-gray-300 md:shadow-md md:bg-purple-50"
  >
    <p class="text-4xl capitalize font-bold text-center">
      <span class="title">create</span> blog
    </p>

    <form (ngSubmit)="createBlog()">
      <div class="flex flex-col">
        <label for="title" class="text-2xl font-bold">Title</label>
        <input
          type="text"
          id="title"
          [(ngModel)]="article.title"
          name="title"
          class="border focus:border-purple-500 outline-none"
          placeholder="Enter Blog Title"
          required
        />
      </div>
      <div class="flex flex-col my-5">
        <label for="description" class="text-2xl font-bold">Description</label>
        <div
          class="w-full mb-4 border border-gray-300 rounded-lg bg-gray-100 dark:bg-gray-700 dark:border-gray-600 py-3"
        >
          <div
            class="flex items-center justify-between px-3 py-2 border-b dark:border-gray-600"
          ></div>
          <div
            class="px-4 py-5 bg-white rounded-b-lg dark:bg-gray-800 flex flex-col gap-4"
          >
            <angular-editor
              id="introduction"
              name="introduction"
              [(ngModel)]="article.introduction"
              placeholder="Write an introductory paragraph..."
              required
            ></angular-editor>
            <angular-editor
              id="body"
              name="body"
              [(ngModel)]="article.body"
              placeholder="Write the article body..."
              required
            ></angular-editor>
          </div>
        </div>
      </div>
      <label for="image" class="cursor-pointer">
        <div class="flex gap-4 md:bg-white bg-gray-100 w-full p-2">
          <div
            class="text-black font-semibold bg-purple-300 hover:bg-purple-400 rounded-md px-3 py-2"
          >
            Choose Image
          </div>
          <p *ngIf="imageName" class="pt-2">{{ imageName }}</p>
          <input
            id="image"
            type="file"
            class="hidden"
            (change)="onSelectFile($event)"
            required
          />
        </div>
      </label>
      <p
        class="mt-1 text-sm text-gray-500 dark:text-gray-300"
        id="file_input_help"
      >
        SVG, PNG, JPG or GIF (MAX. 800 x 400px).
      </p>

      <div class="mt-10 text-right w-full">
        <button
          type="submit"
          class="text-white font-semibold bg-purple-600 hover:bg-purple-700 px-3 py-2 w-full"
        >
          Create Blog
        </button>
      </div>
    </form>
  </div>
</section>

<app-footer></app-footer>
